<div class="md:container md:mx-auto p-4 flex flex-col space-y-2">
    <% @articles.each do |article| %>
        <div class="flex flex-row items-center w-fill justify-between">
            <span>
                <%= link_to article.title, article_path(article) %>
            </span>
            <span class="text-gray-500 text-sm"><%= article.created_at.to_date %></span>
        </div>
    <% end %>
</div>