<nav class="p-3 pl-6 pr-6 bg-gray-700 text-white flex flex-row items-center">
    <%= link_to 'Splitty\'s Blog', root_path(), :class => "mr-auto text-xl" %>
    <%= link_to 'New Article', new_article_path(), :class => "ml-auto bg-green-600 rounded p-1 pl-4 pr-4" %>
</nav>