<div class="md:container md:mx-auto p-4 flex flex-col">
    <%= render partial: 'articles/article', locals: { article: @article } %>
    <%= link_to 'View all posts', articles_path(), :class => "mt-4 block text-sm text-gray-600 mr-auto" %>
</div>